{% extends "base.html" %}

{% block title %}Home{% endblock %}

<!--To Do:
- write the contact page
- change redirect page from login
- implement redirect page from load session
- make order page
- figure out how to make sure people are signed in, different states w/ signout if they are signed in

-->

{% block style %}
<!-- aligns text boxes -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}

<br />
<div class="homepage-description">
  <p>
    Thank you for choosing Jenik Freight. We offer air freight services from Canada to Nigeria.
  </p>
  <p>
    If you are a first-time customer, click on <span class="emphasis-body">Add Order</span> to begin. 
  </p>
  <p>
    If you are a returning customer, click on <span class="emphasis-body">Load Session</span> or 
    <span class="emphasis-body">Login</span> to restore your orders from a previous session.
  </p>
</div>

<br />
<div class="order-button-section">
  <button 
    class="action-button"
    onClick='goToOrder()'>
    Add Order
  </button>

  <br />

  {% if not current_user.is_authenticated %}
  <button
    class="action-button"
    onClick='goToLogin()'>
    Load Session
  </button>
  {% else %}
  <button
    class="action-button"
    onClick='goToLoad()'>
    Load Session
  </button>
  {% endif %}
</div>

<br />
<div class="homepage-calculations">
  <p>How costs are calculated:</p>
  <ol>
    <li>Package Costs
      <ul>
        <li>Cargo must be <span class="emphasis-point">at least 10kg</span>. Cargo weighing less than 10kg will be charged as if it weighs 10kg.</li>
        <li>Cost is calculated based on physical weight (kg) or volumetric weight (kg), whichever one is higher.</li>
        <li>General cargo rate: <span class="emphasis-point">$13/kg</span>.</li>
        <li>Cargo containing lithium batteries, including laptops, phones, and anything rechargeable: <span class="emphasis-point">$14/kg</span>.</li>
      </ul>
    </li>
    
    <li>Insurance
      <ul>
        <li>Insurance is minimum $100, and will be the higher between <span class="emphasis-point">$100 or 2% of the declared value of the cargo</span>.</li>
      </ul>
    </li>

    <li>Delivery
      <ul>
        <li>Door-to-door delivery within Lagos costs a minimum of <span class="emphasis-point">$25</span> with an extra <span class="emphasis-point">$1/kg</span>.</li>
        <li>Door-to-door delivery outside Lagos costs a minimum of <span class="emphasis-point">$50</span> with an extra <span class="emphasis-point">$1.5/kg</span>.</li>
      </ul>
    </li>
  </ol>
</div>

<script>

function goToOrder() {
  location.href="{{ url_for('views.add_order') }}";
}

function goToLogin() {
  location.href="{{ url_for('auth.login') }}";
}

function goToLoad() {
  location.href="{{ url_for('views.upload_data')}}";
}

</script>
  
{% endblock %}
