{% extends "base.html" %}

{% block title %}Home{% endblock %}

<!--To Do:
- write the contact page
- figure out how to make consolidate boxes work
- pretty formatting

-->

{% block style %}
<!-- aligns text boxes -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}

<br />
<div class="homepage-description">
  {% if not current_user.is_authenticated %}
  <p>
    Thank you for choosing Jenik Freight. We offer air freight services from Canada to Nigeria.
  </p>
  {% else %}
  <p>
    Welcome back, {{ current_user.first_name }}!
  </p>
  {% endif %}
  <p>
    Click on <span class="emphasis-body">Add Order</span> to add a new package. 
  </p>
  {% if not current_user.is_authenticated %}
  <p>
    Or, click on <span class="emphasis-body">Login</span> to restore your packages and orders from a previous session.
  </p>
  {% else %}
  <p>
    Or, click on <span class="emphasis-body">Load Session</span> to restore your packages and orders from a previous session.
  </p>
  {% endif %}
</div>

<br />
<div class="order-button-section">
  <button 
    class="action-btn"
    onClick='goToOrder()'>
    Add Package
  </button>

  <br />

  {% if current_user.is_authenticated %}
  <button
    class="action-btn"
    onClick='goToLoad()'>
    Load Session
  </button>
  {% endif %}
</div>

<br />
<div class="homepage-calculations">
  <p>How costs are calculated:</p>
  <ol>
    <li>Package Costs
      <ul>
        <li>Cargo must be <span class="emphasis-point">at least 10kg</span>. Cargo weighing less than 10kg will be charged as if it weighs 10kg.</li>
        <li>Cost is calculated based on physical weight (kg) or volumetric weight (kg), whichever one is higher.</li>
        <li>General cargo rate: <span class="emphasis-point">$13/kg</span>.</li>
        <li>Cargo containing lithium batteries, including laptops, phones, and anything rechargeable: <span class="emphasis-point">$14/kg</span>.</li>
      </ul>
    </li>
    
    <li>Insurance
      <ul>
        <li>Insurance is minimum $100, and will be the higher between <span class="emphasis-point">$100 or 2% of the declared value of the cargo</span>.</li>
      </ul>
    </li>

    <li>Delivery
      <ul>
        <li>Door-to-door delivery within Lagos costs a minimum of <span class="emphasis-point">$25</span> with an extra <span class="emphasis-point">$1/kg</span>.</li>
        <li>Door-to-door delivery outside Lagos costs a minimum of <span class="emphasis-point">$50</span> with an extra <span class="emphasis-point">$1.5/kg</span>.</li>
      </ul>
    </li>
  </ol>
</div>

<script>

function goToOrder() {
  location.href="{{ url_for('views.add_order') }}";
}

function goToLoad() {
  location.href="{{ url_for('views.upload_data')}}";
}

</script>
  
{% endblock %}
